.slideshowTinTuc {
    width: 100%;
    height: auto;
    border: none;
    position: relative;
    text-align: center;
}

.slideshowTinTuc img {
    height: 290px;
    width: 100%;
    position: relative;
}

.slideshowTinTuc .overlay2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshowTinTuc .content {
    position: absolute;
    top: 108px;
    left: 0;
    right: 0;
    color: white;
    z-index: 2;
    text-align: center;
    line-height: 38px;
}

.slideshowTinTuc .content h2 {
    font-size: 46px;
    color: white;
    margin-bottom: 15px;
    animation: moDan2 ease 1s;
    font-weight: bold;
}

@keyframes moDan2 {
    from {
        transform: translateX(2000px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* phần lọc ra sản phẩm */

.sapXep {
    margin-top: 25px;
    font-weight: 100;
}

.sapXep input {
    margin-right: 10px;
    font-weight: 100;
    margin-bottom: 12px;
}

.sapXep .sapXepChiTiet {
    font-weight: 100;
}

.sapXep ul li {
    list-style-type: none;
}

.sapXep .size {
    width: 50px;
    height: 25px;
    margin-right: 10px;
    background-color: white;
    color: black;
    border: 1px solid #E7E7E7;
    text-align: center;
    font-size: 14px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 100;
}

.sapXep .size:hover {
    border-color: #fe6b5e;
    color: #fe6b5e;
    transition: all 0.01s;
}

.danhSach {
    display: flex;
    flex-wrap: wrap;
}

.mauSac {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Phần sản phẩm */

.sanPham {
    margin-top: 30px;
    position: relative;
}

.sanPham img {
    height: 263px;
    width: 100%;
}

.sanPham h2 {
    color: #adadad;
    font-size: 11px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sanPham a {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    margin: 5px 0px;
}

.sanPham a:hover {
    color: #fe6b5e;
}

.gia {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 3px;
}

.gia .giaCu {
    text-decoration: line-through;
}

.gia .giaMoi {
    color: #fe6b5e;
    font-size: 18px;
}

.overlay3 {
    width: 100%;
    height: 66%;
    background: linear-gradient(#3f3fdb51, #fe6b5e61);
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sanPham:hover .overlay3 {
    opacity: 1;
}

.sanPham:hover .iconMuaHang {
    opacity: 1;
    bottom: 60%;
}

.nutChuyenTrang {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.nutChuyenTrang .so1,
.nutChuyenTrang .so2,
.nutChuyenTrang .iconChuyenTrang {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    cursor: pointer;
    text-align: center;
}

.nutChuyenTrang .so1 {
    background-color: #3f3fdb;
    color: white;
}

.nutChuyenTrang .so2,
.nutChuyenTrang .iconChuyenTrang {
    background-color: #f3f5f7;
    color: #333;
}

.nutChuyenTrang .so2:hover,
.nutChuyenTrang .iconChuyenTrang:hover {
    background-color: #3f3fdb;
    color: white;
}

.orderProduct {
    width: 100%;
    border-radius: 15px;
}